In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Country.csv')

In [ ]:
df

,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Afghanistan,SouthernAsia,652864,35530,54.4,106.3,20270,-2.4,623.2,23.3,...,8.3,42,2.1,9.8/0.3,63,5,78.2/47.0,45.1/27.0,21.43,-99
1,Albania,SouthernEurope,28748,2930,106.9,101.9,11541,2.6,3984.2,22.4,...,63.3,130,28.2,5.7/2.0,84,36,94.9/95.2,95.5/90.2,2.96,-99
2,Algeria,NorthernAfrica,2381741,41318,17.3,102.0,164779,3.8,4154.1,12.2,...,38.2,135,0.8,145.4/3.7,5900,55,84.3/81.8,89.8/82.2,0.05,-99
3,American Samoa,Polynesia,199,56,278.2,103.6,-99,-99,-99.0,-99,...,-99,92,87.9,-99,-99,-99,100.0/100.0,62.5/62.5,-99,-99
4,Andorra,SouthernEurope,468,77,163.8,102.3,2812,0.8,39896.4,0.5,...,96.9,13,34.0,0.5/6.4,1,119,100.0/100.0,100.0/100.0,-99,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Wallis and Futuna Islands,Polynesia,142,12,84.1,93.4,-99,-99,-99.0,-99,...,9.0,89,41.6,~0.0/1.6,-99,26,-99,-99,-99,-99
225,Western Sahara,NorthernAfrica,266000,553,2.1,110.1,-99,-99,-99.0,-99,...,-99,49,2.7,-99,-99,-99,-99,-99,-99,-99
226,Yemen,WesternAsia,527968,28250,53.5,102.1,29688,-28.1,1106.4,14.7,...,25.1,298,1.0,22.7/0.9,668,12,72.0/46.5,92.5/34.1,2.99,-99
227,Zambia,EasternAfrica,752612,17094,23.0,98.5,21255,2.9,1311.1,8.2,...,21.0,88,65.6,4.5/0.3,374,26,85.6/51.3,55.6/35.7,3.96,-99
228,Zimbabwe,EasternAfrica,390757,16530,42.7,95.0,13893,1.1,890.4,13.0,...,16.4,89,37.2,12.0/0.8,482,30,97.0/67.3,49.3/30.8,6.00,-99

In [ ]:
df.isnull().sum()

country                                                       0
Region                                                        0
Surface area (km2)                                            0
Population in thousands (2017)                                0
Population density (per km2, 2017)                            0
Sex ratio (m per 100 f, 2017)                                 0
GDP: Gross domestic product (million current US$)             0
GDP growth rate (annual %, const. 2005 prices)                0
GDP per capita (current US$)                                  0
Economy: Agriculture (% of GVA)                               0
Economy: Industry (% of GVA)                                  0
Economy: Services and other activity (% of GVA)               0
Employment: Agriculture (% of employed)                       0
Employment: Industry (% of employed)                          0
Employment: Services (% of employed)                          0
Unemployment (% of labour force)                              0
Labour force participation (female/male pop. %)               0
Agricultural production index (2004-2006=100)                 0
Food production index (2004-2006=100)                         0
International trade: Exports (million US$)                    0
International trade: Imports (million US$)                    0
International trade: Balance (million US$)                    0
Balance of payments, current account (million US$)            0
Population growth rate (average annual %)                     0
Urban population (% of total population)                      0
Urban population growth rate (average annual %)               0
Fertility rate, total (live births per woman)                 0
Life expectancy at birth (females/males, years)               0
Population age distribution (0-14 / 60+ years, %)             0
International migrant stock (000/% of total pop.)             0
Refugees and others of concern to UNHCR (in thousands)        0
Infant mortality rate (per 1000 live births                   0
Health: Total expenditure (% of GDP)                          0
Health: Physicians (per 1000 pop.)                            0
Education: Government expenditure (% of GDP)                  0
Education: Primary gross enrol. ratio (f/m per 100 pop.)      0
Education: Secondary gross enrol. ratio (f/m per 100 pop.)    0
Education: Tertiary gross enrol. ratio (f/m per 100 pop.)     0
Seats held by women in national parliaments %                 0
Mobile-cellular subscriptions (per 100 inhabitants)           0
Mobile-cellular subscriptions (per 100 inhabitants).1         0
Individuals using the Internet (per 100 inhabitants)          0
Threatened species (number)                                   0
Forested area (% of land area)                                0
CO2 emission estimates (million tons/tons per capita)         0
Energy production, primary (Petajoules)                       0
Energy supply per capita (Gigajoules)                         0
Pop. using improved drinking water (urban/rural, %)           0
Pop. using improved sanitation facilities (urban/rural, %)    0
Net Official Development Assist. received (% of GNI)          0
dtype: int64

In [ ]:
df.duplicated().sum()

0

In [ ]:
# I want to find average population of all countries in year 2017

In [ ]:
df["Population in thousands (2017)"].mean()

32756.794759825327

In [ ]:
# I want to find out the middle value of population of all 229 countries

In [ ]:
df["Population in thousands (2017)"].median()

5448.0

In [ ]:
# most common population of all countries

In [ ]:
df["Population in thousands (2017)"].mode()

0        1
1       11
2       35
3       55
4       56
5      105
6      108
7      276
8      283
9     2890
10    2930
Name: Population in thousands (2017), dtype: int64

In [ ]:
# how to select random samplefrom population data then compare it with full data

In [ ]:
# population = fulldata

df["Population in thousands (2017)"]

0      35530
1       2930
2      41318
3         56
4         77
       ...
224       12
225      553
226    28250
227    17094
228    16530
Name: Population in thousands (2017), Length: 229, dtype: int64

In [ ]:
sample_size = 100
sample_data = df.sample(n = sample_size,random_state = 1)

In [ ]:
sample_data

,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
39,Central African Republic,MiddleAfrica,622984,4659,7.5,97.3,1633,4.8,333.2,34.9,...,4.6,60,35.6,0.3/0.1,19,5,89.6/54.4,43.6/7.2,32.25,-99
170,Saint Kitts and Nevis,Caribbean,261,55,212.9,97.0,876,3.8,15771.9,1.2,...,75.7,52,42.3,0.2/4.2,0,59,98.3/98.3,.../...,3.93,-99
93,Hungary,EasternEurope,93024,9722,107.4,90.7,121715,3.1,12350.6,4.1,...,72.8,66,22.8,42.1/4.3,423,97,100.0/100.0,97.8/98.6,-99,-99
62,Egypt,NorthernAfrica,1002000,97553,98.0,102.3,315917,4.2,3452.3,11.2,...,35.9,156,0.1,201.9/2.2,3509,36,100.0/99.0,96.8/93.1,0.78,-99
199,Tajikistan,CentralAsia,142600,8921,63.7,100.9,7853,4.2,925.9,25.0,...,19.0,45,3.0,5.2/0.6,76,14,93.1/66.7,93.8/95.5,4.55,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,Martinique,Caribbean,1128,385,363.1,83.5,-99,-99,-99.0,-99,...,-99,48,45.8,2.3/5.8,1,79,100.0/99.8,94.0/72.7,-99,-99
120,Madagascar,EasternAfrica,587295,25571,44.0,99.5,9739,3.1,401.8,24.9,...,4.2,1324,21.5,3.1/0.1,129,7,81.6/35.3,18.0/8.7,7.05,-99
54,Czechia,EasternEurope,78868,10618,137.5,96.7,185156,4.5,17561.7,2.5,...,81.3,53,34.5,96.5/9.2,1221,164,100.0/100.0,99.1/99.2,-99,-99
118,Lithuania,NorthernEurope,65286,2890,46.1,85.4,41402,1.8,14383.7,3.6,...,71.4,26,34.8,12.8/4.4,74,98,99.7/90.4,97.2/82.8,-99,-99
98,Iraq,WesternAsia,435052,38275,88.1,102.5,164234,-2.4,4509.0,4.6,...,17.2,72,1.9,168.4/4.8,6744,58,93.8/70.1,86.4/83.8,0.88,-99

In [ ]:
sample_data["Population in thousands (2017)"]

39      4659
170       55
93      9722
62     97553
199     8921
       ...
127      385
120    25571
54     10618
118     2890
98     38275
Name: Population in thousands (2017), Length: 100, dtype: int64

In [ ]:
mean_sample = sample_data["Population in thousands (2017)"].mean()
mean_population = df['Population in thousands (2017)'].mean()

In [ ]:
mean_sample

34919.2

In [ ]:
mean_population

32756.794759825327

In [ ]:
data = pd.read_csv('/content/housing.csv')

In [ ]:
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
# What is the average price of houses with 3 bedrooms

In [ ]:
x = data[data['bedrooms'] == 3]

In [ ]:
x

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
6,1321400060,20140627T000000,257500,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21603,7852140040,20140825T000000,507250,3,2.50,2270,5536,2.0,0,0,...,8,2270,0,2003,0,98065,47.5389,-121.881,2270,5731
21604,9834201367,20150126T000000,429000,3,2.00,1490,1126,3.0,0,0,...,8,1490,0,2014,0,98144,47.5699,-122.288,1400,1230
21607,2997800021,20150219T000000,475000,3,2.50,1310,1294,2.0,0,0,...,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
21608,263000018,20140521T000000,360000,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21611,291310100,20150116T000000,400000,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287

In [ ]:
y = x['price'].mean()

In [ ]:
y

466232.07949918567

In [ ]:
# **q2. what is the mode of the number of floors in tha dataset?**

In [ ]:
x = data['floors'].mode()

In [ ]:
x

0    1.0
Name: floors, dtype: float64

In [ ]:
# **what is the avg price of houses built after the year 2000**

In [ ]:
x = data[data['yr_built'] > 2000]
y = x['price'].mean()
y

615314.914776481

In [ ]:
y = x['price'].median()

In [ ]:
y

500000.0

In [ ]:
#avg of square footage living  with more than 2 floors

In [ ]:
x = data[data['floors'] > 2]

In [ ]:
y = x['sqft_living'].mean()

In [ ]:
y

2075.182864450128

In [ ]:
#what is the avg house price with  3 bed rooms and built b/w the years 2000 to 2005

bedrooms = data[data['bedrooms'] == 3]

avg_2000_2005 = bedrooms[(bedrooms['yr_built'] >= 2000) & (bedrooms['yr_built'] <= 2005)]

In [ ]:
price = avg_2000_2005['price'].mean()

In [ ]:
price

498235.334625323

In [ ]:
# **median square footage of living space (sqft_living) for houses with more than
# 2 floors and waterfront view**

In [ ]:
x = data[(data['floors'] > 2) & (data['waterfront'] == 1)]
y = x['sqft_living'].median()
y

3180.0

In [ ]:
what is the median price of houses with a grade greater than 7
and a lot size of more than 5000 sq ft

In [ ]:
what is the avg number of bathrooms for houses loacated in the zipcode 98001
 and having a view score of 3 or more